@import url('./normalize.css');
@import url('./initialization.css');

.page {
    background-color: var(--primary);
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--text);
}

/* Header styles */

.header {
    padding: 1rem;
    background-color: var(--terciary);
    display: flex;
    justify-content: center;
}

.header__title {
    font-size: 2.2rem;
}

/* Main styles */

.main {
    width: 100%;
    padding: 2rem 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

/*--Game styles--*/

.game {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.game__title {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.game__cards {
    width: 100%;
    display: grid;
    gap: 0.5rem;
}

.game__card {
    aspect-ratio: 1;
    max-width: 8rem;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: var(--secondary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(2rem, 10vw);
    cursor: pointer;
    user-select: none;
    transition: transform 130ms;
}

.game__card:hover {
    opacity: 0.8;
}

.game__card--complete::after {
    content: "";
    border-radius: 10px;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    inset: 0;
    cursor: default;
}

.game__card--complete:hover {
    opacity: 1;
}

.game__button {
    width: fit-content;
    margin-inline: auto;
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    transition: opacity 0.2s;
}

.game__button:hover {
    opacity: 0.7;
}

.game__settings {
    max-height: 0;
    padding: 0;
    border-radius: 5px;
    background-color: var(--secondary);
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s;
}

.game__settings--open {
    max-height: 20rem;
    padding: 0.5rem;
    visibility: visible;
}

.game__text {
    font-size: 1rem;
    text-align: center;
}

.game__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.game__option {
    padding: 0.5rem 0.75rem;
    border-style: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 0.8rem;
    cursor: pointer;
    transition: opacity 0.2s;
}

.game__option:hover {
    opacity: 0.8;
}

.game__hardcore {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.hardcore__checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 4rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--primary);
    position: relative;
    cursor: pointer;
}

.hardcore__checkbox::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--secondary);
    position: absolute;
    top: 50%;
    left: 25%;
    translate: -50% -50%;
    transition: left 0.2s;
}

.hardcore__checkbox:checked::after {
    left: 75%;
}

.hardcore__label {
    cursor: pointer;
    user-select: none;
}

/*--Modal styles--*/

.modal[open] {
    top: -25%;
    opacity: 1;

    @starting-style {
        top: -60%;
        opacity: 0;
    }
}

.modal[open]::backdrop {
    background-color: #FFFFFF80;
    cursor: alias;

    @starting-style {
        background-color: transparent;
    }
}

.modal {
    width: fit-content;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--terciary);
    position: fixed;
    top: -60%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out, display 0.3s allow-discrete;
}

.modal::backdrop {
    background-color: transparent;
    transition: background-color 0.3s linear;
}

.modal__content {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.modal__title {
    font-size: 1.2rem;
    color: var(--text);
    text-align: center;
}

.modal__text {
    font-size: 1rem;
    color: var(--text);
    text-align: center;
}


/*--Reviews styles--*/

.reviews {
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.reviews__title {
    font-size: 1.3rem;
}

.reviews__stars {
    width: fit-content;
    margin: 0.75rem auto 0;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #00000080;
    background-color: var(--terciary);
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
}

.reviews__current {
    font-size: 1.1rem;
}

.reviews__value {
    font-weight: bold;
}

.reviews__input {
    display: none;
}

.reviews__star {
    color: var(--text);
    font-size: 2rem;
    cursor: pointer;
}

.reviews__star:hover,
.reviews__star:hover ~ .reviews__star {
    color: #d8b73d;
}

.reviews__input:checked ~ .reviews__star {
    color: #d8b73d;
}

.alert {
    margin-top: 0.75rem;
    text-align: center;
    transition: opacity 0.3s, visibility 0.3s;
}

.alert--hidden {
    opacity: 0;
    visibility: 0;
}

.alert__text {
    color: #EF6F6F;
}

/* Footer styles */

.footer {
    padding: 1rem 0.2rem;
    background-color: var(--terciary);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.footer__text {
    text-align: center;
}

.footer__tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.footer__info {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.tooltip {
    max-width: 20rem;
    max-height: 70vh;
    width: 80vw;
    padding: 0.75rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--secondary);
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% -25%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover {
    opacity: 1;
    visibility: visible;
}

.footer__info:hover + .tooltip {
    opacity: 1;
    visibility: visible;
}

.footer__author {
    font-weight: bold;
    font-style: italic;
}

.footer__anchor {
    color: var(--text);
}

/* Breakpoints */

@media (width > 24rem) {
    .header__title {
        font-size: 3rem;
    }

    .main {
        padding: 3rem 1rem;
        gap: 3.5rem;
    }

    .game__title, .rate__title {
        font-size: 1.5rem;
    }

    .game__cards {
        gap: 1rem;
    }

    .game__button {
        font-size: 1.1rem;
    }

    .game__text {
        font-size: 1.25rem;
    }

    .game__option {
        font-size: 1rem;
    }

    .modal__title {
        font-size: 2rem;
    }
}